1. Administrator creates user accounts.

2. Administrator updates user accounts.

3. Administrator deletes user accounts.

4. Administrator assigns system roles to users.

5. Administrator configures system settings.

6. Administrator monitors system activity logs.

7. Administrator performs system data backups.

8. Administrator restores system data from backups.

9. Receptionist register new patients.

10. Receptionist and Administrator update patient personal information.

11. Receptionist schedules patient appointments.

12. Receptionist reschedules patient appointments.

13. Receptionist cancels patient appointments.

14. Receptionist and Medical Staff (Doctor/Nurse) view appointment schedules.

15. Medical Staff (Doctor/Nurse) searches patient records.

16. Doctors and Nurses view patient medical records.

17. Doctors and Nurses update patient medical records.

18. Doctors record patient diagnoses.

19. Doctor views Appointement

20. Doctors and Nurses view patient medical history.

21. Doctors create treatment plans.

22. Doctors prescribe medications.

23. Doctors and Nurses monitor current bedridden patient vitals.

24. Nurses record patient vital signs.

25. Nurses and Doctors record patient observations.

26. Doctors request laboratory tests.

27. Laboratory Technicians receive laboratory test requests.

28. Laboratory Technicians record laboratory test results.

29. Doctors and Nurses view laboratory results.

30. Laboratory Technicians update laboratory test status.

31. Pharmacists and Doctors view prescriptions.

32. Pharmacists dispense medications and update medication inventory.

33. Pharmacists record medication transactions.

34. Billing Officers generate patient bills.

35. Billing Officers process payements and record their information.

36. Billing Officers and Administrators generate financial reports.

37. HR Officers and Administrators register hospital staff members.

38. HR Officers update staff employment information.

39. HR Officers record staff salaries.

40. HR Officers process staff payroll payments.

41. HR Officers and Administrators generate payroll reports.

42. Patients view scheduled appointments.

43. Patients view personal medical history.

44. Patients download prescriptions.

45. Patients view billing statements.
